# Read access token in Hugging Face 
# https://huggingface.co/settings/tokens/new?tokenType=read
HUGGINGFACE_TOKEN=hf_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
# OAuth Client ID (Android/ iOS) for Google Services
# Refer to https://faheem-riaz.medium.com/flutter-google-calendar-api-add-events-to-calendar-c857a77e7afb
# If you forget how to create a Google Cloud project and find the SHA-1 fingerprint, also refer to https://medium.com/@tungenwarkartick/adding-google-sign-in-to-a-flutter-app-for-android-and-ios-ec37e9aeec7a
GOOGLE_SERVER_CLIENT_ID=667595621530-6n6npgam6qht9jn5428c4ud1qe6960f0.apps.googleusercontent.com